{% extends 'base.html.twig' %}

{% block title %}Artykuł z poradami{% endblock %}

{% block body %}

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1>Porady</h1>
        <p>Jak rzeczywiście zwalczać prokrastynację?</p>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <section id="content" class="main">
            <span class="image main"><img src="images/pic04.jpg" alt=""/></span>

            <h1>Jak poradzić sobie z prokrastynacją?</h1>
            <p>Istnieje mnóstwo poradników w internecie o tym jak poradzić sobie z prokrastynacją. Głównie polegają one
                na
                sztuczkach, którymi możemy oszukać siebie samych, aby wziąć się do roboty. Wiele z tych porad jest
                przydatnych, np. jak trzymanie porządku w miejscu, w którym się pracuję, lecz warto zważyć to, że na
                każdego
                działa co innego, i że każdy człowiek jest inny i jego problem powinien być badany indywidualnie. Mimo
                to
                postaram się przytoczyć parę porad, które uważam za bardzo pomocne.
                Świadomość</p>
            <p>Bardzo pomocna może się okazać świadomość, tego co to jest prokrastynacja, na czym polega i jak ją
                zauważyć
                w swoim życiu. Gdy znamy wroga, znamy taktyki w walce z nim, to tylko wtedy możemy się przeciwko niemu
                jakoś
                chronić.</p>
            <h1>Planowanie</h1>
            <p> Ciężko jest wziąć się za cokolwiek bez wcześniejszego przemyślenia i zaplanowania przyszłości. Mówi się,
                że
                jedna minuta planowania równoważna jest dziesięciu minut roboty, tak jest rzeczywiście, gdy zabieramy
                się za
                jakieś sprawy bez wcześniejszego planu, i tracimy dużo czasu i energii niepotrzebnie.
                Wyznaczenie konkretnego celu jest tutaj nieocenione, podobno Apollo 13, gdy leciał na księżyc to przez
                99%
                czasu leciał niezgodnie z kursem, i komputer musiał nieustannie korygować go, i przez ten 1% lecieli w
                dobrym kierunku, i to wystarczyło na ich powodzenie. Tak samo jest z nami, wyznaczamy sobie cel i
                zazwyczaj
                nie trzymamy się kursu, jest zbyt wiele nieobliczalnych okoliczności, które się zdarzają, ale jeśli
                pamiętaliśmy o naszym celu, to na pewno do niego dotrzemy.</p>
            <p>Oprócz wyznaczenia celu bardzo ważne jest wyznaczanie terminów. To właśnie przez terminy najczęściej
                zwlekamy z pracą. Gdy nauczymy mądrze stawiać się sobie samemu terminy i będziemy ich przestrzegać to
                wykonamy dużo więcej pracy niż zwykle.</p>
            <h1>Trzeba zjeść całego słonia</h1>
            <p>Jest takie porównanie, jak zjeść całego słonia, przecież jest on taki wielki, a więc jest to możliwe,
                gdybyśmy go podzielili i jedli po małym kawałeczku. Dokładnie tak jest w prawdziwym życiu, niektóre
                projekty, które mamy do zrobienia są po prostu zbyt wielkie, dopiero po rozdzielenie ich na małe kawałki
                jesteśmy w stanie je wykonać.</p>
            <h2>Na samym początku zrobienie Najtrudniejszej rzeczy</h2>
            <p> Nie jest to możliwe dla każdego, ale gdy w danym dniu zrobimy prędko najtrudniejszą rzecz to reszta
                rzeczy
                tego dnia jest już dużo prostsza do zrobienia. Św. Jan Maria Vianney powiedział kiedyś “Kiedy mamy dwie
                rzeczy do zrobienia, dajmy pierwszeństwo tej, która nam się mniej podoba”, jest to ta sama zasada.
                Lecz, jeśli nie jesteśmy w stanie wziąć się w ogóle za robotę, to ta zasada nie jest za bardzo pomocna,
                na
                szczęście jest inna, przeciwna do niej, mianowicie rozpoczęcie pracy od najmniejszej i
                najprzyjemniejszej
                rzeczy. Według psychologów już samo rozpoczęcie zadania zmniejsza napięcie w naszym umyśle. Ten sposób
                działania został porównany przez Alana Lakeina, sławnego autora książek o zarządzaniu czasem, do sera
                szwajcarskiego, robiąc małe zadania “wyjadamy” w serze małe dziurki przez co ser nie jest już zbity, ale
                jest dziurawy, dokładnie jak ser szwajcarski.</p>
            <h1>Koncentracja</h1>
            <p>Oczywistą sprawą w jakimkolwiek działaniu jest koncentracja, skupienie się na wyznaczonym celu, lecz żeby
                być skoncentrowanym trzeba o to zadbać. Możemy zrobić to na mnóstwo sposobów np. robiąc porządek tam
                gdzie
                pracujemy, przygotowując się do pracy chwilą ciszy, słuchając spokojnej muzyki, odcięcia się od
                rozproszeń,
                modląc się wcześniej, cokolwiek nam tylko pomoże, trzeba to samemu rozeznać.</p>
            <p>W języku francuskim istnieje takie pojęcie jak “Mise en place”, które oznacza, że wszystko jest na swoim
                miejscu, używane jest ono w restauracjach, gdy kucharze muszą być bardzo uporządkowani i pamiętają gdzie
                znajdą rzeczy, które potrzebują. Można odnieść to na naszą pracę, gdy mamy przed pracą przygotowane
                wszystkie rzeczy, akcesoria takie jak długopis, kartka czy encyklopedia, to gdy pracujemy, nie musimy
                odrywać się i nagle szukać tych rzeczy.</p>
            <h1>Motywacja</h1>
            <p>Ostatnią poradą jaką pragnę przytoczyć jest znalezienie motywacji. Praca może być bardzo męcząca, pisanie
                pracy magisterskiej, robienie jakiegoś wielkiego projektu w pracy, pisanie książki, a więc nigdy nie
                powinniśmy zapomnieć o czasu na odpoczynek i przyjemności, zrobienie sobie przerwy co jakiś czas, może
                być
                dla nas bardzo pomocne. Kanadyjski psycholog Jordan Peterson, mówi, że jesteśmy dla siebie samych bardzo
                złymi pracownikami, ale jeszcze gorszymi szefami. Czasami nakładamy na siebie za dużo pracy, a potem
                zapominamy o tym, żeby odpocząć i odetchnąć na krótką przerwę, jak szef, który nie wypłaca swojemu
                pracownikowi pensji, ale każe ciągle pracować.</p>

        </section>

        <section class="main special">
            <footer class="major">
                <ul class="actions special">
                    <li><a href="{{ path('welcome') }}" class="button">Wróć</a></li>
                </ul>
            </footer>
        </section>

    </div>

    {% endblock %}
