{% extends 'base.html.twig' %}

{% block title %}Artykuł2{% endblock %}

{% block body %}

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1>Wstęp</h1>
        <p>Co to jest Prokrastynacja?</p>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <section id="content" class="main">
            <span class="image main"><img src="images/pic04.jpg" alt=""/></span>

            <h1>Co mówi psychologia o prokrastynacji?</h1>

            <p> Psychologia streszcza pojęcie prokrastynacji do walki w naszym mózgu między układem limbicznym, a korą
                przedczołową.
                Układ limbiczny odpowiedzialny jest za nasze emocje i spontaniczność, zaś kora przedczołowa pełni
                funkcję działania, planowania oraz rozważania ich konsekwencji. Gdy więc zdarzy nam się zwlekać z jakimś
                zadaniem, to znaczy, że nasz układ limbiczny wygrywa.</p>

            <p>"Pozornie odkładanie zadań na później jest działaniem nieracjonalnym, które w przyszłości może wyrządzić
                nam sporo szkód. Jednak człowiek nie jest racjonalnym ekonomistą, który waży sobie, co jest dla niego
                dobre, a co złe. Prokrastynacja odzwierciedla rywalizację między naszym układem limbicznym a korą
                przedczołową. Ten pierwszy steruje emocjami i odpowiada za impulsywność, chęć natychmiastowej nagrody i
                poprawienia nastroju, jeśli czujemy się źle. Zaś kora przedczołowa odpowiada za koncentrację,
                zarządzanie sobą, swoją uwagą i celami oraz rozumienie koncepcji czasu itp. Kierowanie się zdrowym
                rozsądkiem, kiedy można ulec emocjom i pokusom, jest dla nas zwyczajnie trudniejsze" - opisuje
                psycholog Magdalena Jagielska.</p>

            <p>Również warto zaznaczyć, że prokrastynacja może nawet powodować choroby psychiczne, takie jak depresja.
                Człowiek, który długo zwleka ze swoimi obowiązkami, powoli stacza się i jest mu coraz trudniej z
                wykonywaniem rzeczy, nawet pozornie prostych, takie jak mycie się, czy wyjście z domu, aby się przejść.
                Taki biedny chory człowiek zamyka się w sobie i zamyka się na otoczenie nie prosząc nikogo o pomoc.
                Siedzi w domu i nie robi nic, co by mogło wymagać od niego najmniejszego wysiłku, bo tak bardzo się boi
                cierpienia, nawet malutkiego, jakie powoduje wykonywanie rzeczy koniecznych, ale nie przyjemnych.
                Oczywiście wykonanie tych obowiązków pomogłoby choremu, dałoby mu spokój i sumienie nie wyrzucałoby mu
                tych wszystkich rzeczy, które zaniedbał. Ale Chory na depresję, w ciężkim przypadku, niestety nie może
                przejść przez tę granicę.</p>

            <p> Niestety dzisiaj widzimy tak wielu młodych ludzi chorych na tę straszną chorobę umysłu. Wybierają oni
                proste i łatwe rozwiązania, szybkie przyjemności, uzależniają się od tylu rzeczy, np. od gier
                komputerowych, oglądania seriali, filmów, przeglądanie różnych stron internetowych i od wielu wielu
                innych rzeczy. Przekładają oni ich obowiązku, bądź czynią je bardzo niestarannie byle tylko móc czerpać
                przyjemność. Wpadają niestety w tą wielką ułudę jaką jest prokrastynacja, zwlekanie z obowiązkiem za
                cenę teraźniejszej przyjemności. Czemu się o tym nie mówi, że najwięcej samobójstw popełniają młodzi
                nastolatkowie, a zwłaszcza chłopcy, i to właśnie oni są najbardziej podatni na wszelkie uzależnienia.
            </p>

        </section>

        <section class="main special">
            <footer class="major">
                <ul class="actions special">
                    <li><a href="{{ path('welcome') }}" class="button">Wróć</a></li>
                </ul>
            </footer>
        </section>

    </div>

    {% endblock %}
